body{
  font-family: 'Poppins', sans-serif;
}
nav {
  width: 100%;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
}


.container-columns {
  border: black 2px solid;
  border-radius: 10px;
}
.citylist {
  list-style-type: none;
}
.list-item {
  border: 2px black solid;
  padding: 10px;
}

.maincontainer {
  margin-top: 10px;
  position: relative;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  text-align: center;
  transform: rotateY(180deg);
}

/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1,
.theback h1 {
  font-family: "zilla slab", sans-serif;
  /* padding: 30px; */
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p,
.theback p {
  font-family: "zilla slab", sans-serif;
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.add-city-button{
  position: relative;
  /* left: 50%; */
  border-radius: 10px;
  width: 100%;
  top: 50%;
}
/* footer{
  position: absolute;
  background-color: skyblue;
  bottom: 0%;
  width: 100%;
  height: 60px;
  
  
}
.social-connect{
  position: sticky;
  position: relative;
  left: 50%;
  top: 50%;
}
footer a{
  color: red;
}
footer i{
  margin: 4px;
} */
/* .container {
  margin: 50px; 
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem; 
} */

#sm-footer {
  position:absolute; 
  bottom: 0; 
  background-color: black; 
  margin-top: 10px;
  width: 100%; 
  height: 10vh; 
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem; 
  font-family: 'Roboto Slab', sans-serif; 
}

a, a:visited {
  color: white; 
  text-decoration: none;
  padding: 10px; 
}